In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## Load Data

In [1]:

data = open("EN/train",'r').read().split("\n\n")

labelled_data = []

labelled_tweet_count = 0
for labelled_tweet in data:    
    labelled_pairs = labelled_tweet.split("\n")
    for pair in labelled_pairs:
        try:
            word, tag = pair.split(" ")
            labelled_data.append((labelled_tweet_count, word, tag))
            
        except:
            print(pair)
        
    labelled_tweet_count += 1

df = pd.DataFrame(labelled_data)
df.columns = ['Sentence #', 'Word', 'Tag']
df.head()

   Sentence #          Word     Tag
0           0            RT       O
1           0  @shaunproulx       O
2           0             :       O
3           0        Encore  B-INTJ
4           0             !       O

In [2]:
class TweetGetter(object):
    '''
    To obtain (Word, Tag) pairs in a convenient manner
    '''
    
    def __init__(self, data):
        self.counter = 1
        self.data = data
        tuple_function = lambda s:[(w, t) for w, t in zip(s["Word"].values.tolist(),
                                                         s["Tag"].values.tolist())]
        self.grouped = self.data.groupby("Sentence #").apply(tuple_function)
        self.tweets = [s for s in self.grouped]
        
        
    def get_next(self):
        tweet = self.grouped[self.counter]
        self.counter += 1
        return tweet

## Make Vocabulary

In [ ]:
vocab = list()