In [2]:
import pandas as pd

# Data Exploration

__Convert the data to a pandas dataframe for easier processing first__

In [3]:
data = open("EN/train",'r').read().split("\n")

In [4]:
df = pd.DataFrame([sub.split(" ") for sub in data])

In [5]:
df.rename(columns={0:"x", 1:"y"}, inplace=True)

In [6]:
df.describe()

            x      y
count   11237  10685
unique   3652     19
top             B-NP
freq      552   2768

__What we can tell from describe() is that there are 19 unique labels for each x input, of which the top label is B-NP__

# Counting

## Groupby() for X

In [7]:
df2 = df.groupby('x').count()
df2.reset_index(inplace=True)
df2

                         x    y
0                             0
1                        !  157
2                       !!   21
3                      !!!   15
4                     !!!!    7
5                    !!!!!    4
6                  !!!!!!!    2
7                       !"    2
8                       !,    1
9                !........    1
10                      !?    1
11                       "   42
12                      "!    1
13                     "!!    1
14                      ",    1
15                     "..    1
16                    "...    1
17                       #    3
18                      #4    1
19                  #Aries    1
20                  #AskEv    1
21                #Atlanta    1
22                   #BB11    1
23                    #BMT    1
24    #BattlestarGalactica    1
25                #Blessed    1
26            #BornThisWay    2
27        #BrightHistMonth    1
28               #COACHING    1
29                  #Coach    1
...                    ...  ...
3622                ya'lls    1
3623                   yay    1
3624                  yayi    1
3625                  yeah    5
3626                 yeah~    1
3627                  year   15
3628                 years   10
3629                   yen    1
3630                   yep    1
3631               yerself    1
3632                   yes    1
3633             yesterday    5
3634                   yet    4
3635                  yhuu    1
3636                    yo    6
3637                  yoiu    1
3638                   you   82
3639                 young    1
3640                  your   25
3641                 yours    2
3642              yourself    2
3643                   yrs    1
3644                   zoo    1
3645                    zz    1
3646                     |    5
3647                     ~    1
3648       ~December*18th~    1
3649                ~HAPPY    1
3650              ~Stephen    1
3651                   ~~~    1

[3652 rows x 2 columns]

## Groupby() for Y

In [8]:
df3 = df.groupby('y').count()
df3.reset_index(inplace=True)
df3

           y     x
0     B-ADJP   159
1     B-ADVP   386
2    B-CONJP     2
3     B-INTJ   257
4       B-NP  2768
5       B-PP   715
6   B-PPjupy     1
7      B-PRT    85
8     B-SBAR    71
9       B-VP  1327
10    I-ADJP    61
11    I-ADVP    51
12   I-CONJP     2
13    I-INTJ    88
14      I-NP  1904
15      I-PP     6
16    I-SBAR     4
17      I-VP   607
18         O  2191

In [12]:
df.groupby(('x','y')).count()

/Users/jaelkw/.virtualenvs/SUTD_01.112_Machine_Learning_Project/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Interpreting tuple 'by' as a list of keys, rather than a single key. Use 'by=[...]' instead of 'by=(...)'. In the future, a tuple will always mean a single key.
  """Entry point for launching an IPython kernel.

Empty DataFrame
Columns: []
Index: [(!, I-INTJ), (!, O), (!!, O), (!!!, O), (!!!!, O), (!!!!!, O), (!!!!!!!, O), (!", O), (!,, O), (!........, O), (!?, O), (", B-NP), (", I-NP), (", O), ("!, O), ("!!, O), (",, I-NP), (".., O), ("..., O), (#, I-NP), (#, O), (#4, I-NP), (#Aries, O), (#AskEv, O), (#Atlanta, O), (#BB11, O), (#BMT, O), (#BattlestarGalactica, O), (#Blessed, O), (#BornThisWay, O), (#BrightHistMonth, O), (#COACHING, O), (#Coach, O), (#Cowboys, O), (#Dallas, O), (#EVER, O), (#Egypt, O), (#FF, O), (#FOI, O), (#Fancyflow, O), (#FindTheNearestExit, O), (#FlavaFridays, O), (#FreebieFriday, O), (#HelloMornings, O), (#ItsTheTeenLife, O), (#Jan25, O), (#Justbecause, O), (#MAINBUILDING, O), (#MundayMonday, O), (#NFL, O), (#Padres, O), (#Quotealicious, O), (#Random, O), (#ScoreSomeRuns, O), (#StarWars, O), (#Supernatural, O), (#TEAMPOSITIVITY, O), (#The1906andPearlsShow, O), (#TheCloneWars, O), (#ZodiacFacts, O), (#amwriting, O), (#bittersweet, O), (#boredas, O), (#concerts, O), (#constantcontact, O), (#coys, O), (#dammit, O), (#doinme, O), (#dontsettle, O), (#dreams, O), (#education, O), (#eqnz, O), (#eritrea, O), (#fail, O), (#fb, O), (#ff, O), (#grindmode, O), (#havewritten-yay, O), (#houseofmirrors, O), (#invest, O), (#justsaying, O), (#livethedream, O), (#marmaset, O), (#meteopau, O), (#metropcs, O), (#monsterlove, O), (#moviedialoguewithpopesubstitute, O), (#news, O), (#obsessions, O), (#ohwell, O), (#oneofmyfollowers, O), (#oreillyfactor, O), (#oyster, O), (#realchop, O), (#realestate, O), (#reallymeans, O), (#sab, O), (#sanBrunofire, O), (#teamkatstacksbitch, O), (#wheee, O), ...]

[4304 rows x 0 columns]