In [1]:
import pandas as pd

# Data Exploration

__Convert the data to a pandas dataframe for easier processing first__

In [2]:
data = open("EN/train",'r').read().split("\n")

In [3]:
df = pd.DataFrame([sub.split(" ") for sub in data])

In [13]:
df.rename(columns={0:"x", 1:"y"}, inplace=True)

In [15]:
df.describe()

            x      y
count   11237  10685
unique   3652     19
top             B-NP
freq      552   2768

__What we can tell from describe() is that there are 19 unique labels for each x input, of which the top label is B-NP__